<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <head>
        <link th:href="@{/styles/index.css}"
              rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplikacja Betting Helper - Index Page</title>
    </head>
</head>
<body>
<div class="container">
    <nav>
        <img class="logo" th:src="@{/images/LogoText.png}">
        <ul>
            <li><a href="">About</a></li>
            <li><a href="">About Me</a></li>
            <li><a href="">Contact</a></li>
            <li>
                <div class="loggingButton">
                <a href="/login">Log in</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="registration-form">
        <h1>Registration</h1>
        <form method="post" th:action="@{/register}" id="registerForm">
            <div class="inputBox">
                <input type="text" placeholder="Username" name="username" id="username">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Password" name="password" id="password">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Confirm password" name="confirm" id="confirm">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Full Name" name="fullname" id="fullname">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="E-mail" name="email" id="email">
            </div>
            <input class="btn" type="submit" value="Sign in">
        </form>
    </div>
    <div class="text-box">
        <p>I'M</p>
        <h1>BETTING <br/> HELPER</h1>
        <h3>I WILL HELP YOU TO BET CORRECTLY</h3>
    </div>
</div>
</body>
</html>