<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <head>
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"
        ></script>
        <link th:href="@{/styles/signinsignup.css}"
              rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
              integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up and Sign in - Landing Page</title>
    </head>
</head>
<body>
<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
                <form method="POST" th:action="@{/sign_up}" class="sign-in-form">
                    <h2 class="title">SIGN UP</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Name" name="fullName" id="fullName"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username" id="username"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email" name="email" id="email"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" id="password"/>
                    </div>
                    <input type="submit" class="btn" value="Sign up" />
                </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>One of us ?</h3>
                <p>If you already have an account please click below</p>
                <div class="loggingButton">
                    <form method="GET" th:action="@{/login}">
                        <input type="submit" value="SIGN IN"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>